.quiz-table {
  padding-top: 1rem;

  .id-col {
    width: 15px;
  }

  .action-col {
    width: 20px;
  }

  .total-col {
    width: 30px;
  }

  .quiz-table-icon {
    padding: 0 3px;
    margin: 0 2px;
    cursor: pointer;
  }
}
