<div class="quiz-table">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th class="id-col" scope="col">Id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th class="total-col" scope="col">Total</th>
      <th class="action-col" scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="quizzes.length <= 0">
      <td colspan="5" >No quizzes yet!</td>
    </tr>
    <tr *ngFor="let quiz of quizzes">
      <th scope="row">{{quiz.id}}</th>
      <td>{{quiz.title}}</td>
      <td>{{quiz.description}}</td>
      <td>{{quiz.total}}</td>
      <td>
        <fa-icon class="quiz-table-icon" [icon]="icons.edit" ></fa-icon>
        <fa-icon (click)="removeQuiz(quiz.id)" class="quiz-table-icon" [icon]="icons.remove" ></fa-icon>
      </td>
    </tr>
    </tbody>
  </table>
</div>
